*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
#.project
.pydevproject

#eclipse
.settings/

#netbeans
/MathModel/MathModel/nbproject/private/

#java
bin/**
MathModel/.classpath
MathModel/data/*.csv

#resultados
errores*
programas*
LgpPython/resultados/*
estimaciones*

#Salida
LgpPython/src/salida*

#Enlace simbolico y copias para varias ejecuciones con el script
LgpPython/src/Parameters.py
LgpPython/data/Parameters*

#Binarios del proyecto CPP
LgpCpp/Debug/
LgpCpp/Release/
LgpCpp/results

LgpCpp/src/a.out


